<div class="layout-topbar">
  <a href="#" class="menu-btn" (click)="appTemplate.onMenuButtonClick($event)">
      <em class="fa fa-bars"></em>
  </a>

  <img class="logo" src="assets/images/gob_logo.svg" alt="gob_logo"/>

  <span *ngIf="sesionIniciada">Bienvenido {{usuarioConectado}}</span>

  <a *ngIf="sesionIniciada" href="{{rutaLogout}}">
      <button pButton type="button" label="Cerrar Sesión" iconPos="right" icon="pi pi-sign-out" class="topbar-button"></button>
  </a>

  <a *ngIf="!sesionIniciada" href="{{rutaLogin}}">
      <button pButton type="button" label="Iniciar Sesión" iconPos="right" icon="pi pi-sign-in" class="topbar-button"></button>
  </a>

</div>

