<div class="topbar_container clearfix">
  <div class="toolbar_content">
      <a href="#" class="btn  btn-default" title="Ajustar Contraste">
          <em class="fa fa-fw fa-adjust"></em>
          <span class="sr-only">Ajustar Contraste</span>
      </a>

      <a href="#" class="btn btn-default" title="Aumentar Fuente">
          <em class="fa fa-fw fa-plus-circle"></em>
          <span class="sr-only">Aumentar Fuente</span>
      </a>

      <a href="#" class="btn  btn-default" title="Disminuir Fuente">
          <em class="fa fa-fw fa-minus-circle"></em>
          <span class="sr-only">Disminuir Fuente</span>
      </a>

      <a href="#" class="btn  btn-default" title="Escuchar Fuente">
          <em class="fa fa-fw fa-volume-up"></em>
          <span class="sr-only">Escuchar Fuente</span>
      </a>
  </div>

  <h1>Ministerio de Gobierno de Chile</h1>
  <p>Tu portal para acceder de manera simple y rápida a información del Gobierno de Chile.</p>
</div>

<div class="banner_menu row">
  <a href="#" class="list-inline-item">Economia y Empleo</a>
  <a href="#" class="list-inline-item">Educación</a>
  <a href="#" class="list-inline-item">Cultura</a>
  <a href="#" class="list-inline-item">Salud</a>
  <a href="#" class="list-inline-item">Seguridad</a>
</div>

<div class="banner_menu text-right link_redes">
  <span>Síguenos a través de redes sociales:</span>
  <a href="#" class="list-inline-item fa fa-facebook-square" title="Facebook">
      <span class="sr-only">Facebook</span>
  </a>
  <a href="#" class="list-inline-item fa fa-twitter-square" title="Twitter">
      <span class="sr-only">Twitter</span>
  </a>
  <a href="#" class="list-inline-item fa fa-instagram" title="Instagram">
      <span class="sr-only">Instagram</span>
  </a>
  <a href="#" class="list-inline-item fa fa-youtube-square" title="Youtube">
      <span class="sr-only">Youtube</span>
  </a>
</div>


<div class="container">
  <div class="ui-g">
      <div class="ui-md-7">
          <img alt="Why You Should PrimeNG" src="assets/images/why-you-should-ng.jpg" class="img-fluid">
          <br>
          <p>PrimeNG offers premium Angular CLI templates designed by our professional design team and
              implemented by the PrimeNG team.
              Various other 3rd party Angular templates are actually ports from other technologies and they
              bring the burden of a <strong>dependency hell</strong>.
              PrimeNG templates on the other hand utilize native Angular APIs, distributed as a CLI project,
              have a single dependency that is PrimeNG featuring top notch quality resulting in easier
              maintenance and unified look.</p>

          <p>This blueprint project demonstrates how a premium application template of PrimeNG is implemented.
              View <a href="https://github.com/primefaces/primeng-blueprint">the source</a> at GitHub for
              details.</p>
      </div>
      <div class="ui-md-5">

          <div class="ui-g-12 ui-md-6">
              <h3>PrimeNG</h3>
              <hr>
              <ul>
                  <li>Single Dependency: PrimeNG</li>
                  <li>Developed by a Single Vendor with 10+ Years of UI Expertise</li>
                  <li>Unlimited Free Support and Updates</li>
                  <li>Implemented as a native Angular application</li>
                  <li>Flawless maintenance</li>
                  <li>Updated periodically after PrimeNG / Angular releases</li>
                  <li>No licenses restrictions to usage in multiple applications</li>
                  <li>Distributed as an Angular CLI Project</li>
              </ul>
          </div>

          <div class="ui-g-12 ui-md-6">
              <h3>Others</h3>
              <hr>
              <ul>
                  <li>Multiple 3rd Party Dependencies</li>
                  <li>Dependencies from different vendors</li>
                  <li>Paid Support</li>
                  <li>Port from another technology e.g. jQuery</li>
                  <li>Maintenance issues due to dependencies</li>
                  <li>No clear release cycle of updates</li>
                  <li>License restrictions to usage in multiple applications</li>
              </ul>
          </div>

      </div>
  </div>
</div>
